@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display";
}

:root {
  --Paleblue: hsl(225, 100%, 94%);
  --Brightblue: hsl(245, 75%, 52%);
  --Verypaleblue: hsl(225, 100%, 98%);
  --Desaturatedblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);
}

body {
  height: 100vh;
  background-image: url(/Images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--Paleblue);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.wrapper {
  max-width: 380px;
  background-color: var(--Verypaleblue);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.wrapper .ImgContainer {
  width: 100%;
}

.ImgContainer img {
  width: 100%;
}

.wrapper .OrderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.OrderContent .title {
  color: var(--Darkblue);
  font-weight: 900;
  font-size: 1.4rem;
}

.OrderContent .OrderDesc {
  color: var(--Desaturatedblue);
  text-align: center;
  font-size: 0.9rem;
  margin-block: 0.75rem;
  line-height: 1.4rem;
  font-weight: 500;
}

.OrderContent .OrderPackage {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 1.2rem;
}

.OrderPackage .packageDetail {
  display: flex;
  width: 50%;
  gap: 1rem;
  align-items: center;
}

.packageDetail img {
  width: 45px;
  height: 45px;
}

.packageDetail .package span {
  font-weight: 900;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.packageDetail .package p {
  color: var(--Desaturatedblue);
  font-size: 0.85rem;
  font-weight: 500;
}

.OrderPackage a {
  font-weight: 700;
  font-size: 0.85rem;
  color: var(--Brightblue);
  transition: color 0.3s ease-in-out;
}

.OrderPackage a:hover {
  color: #766cf1;
  text-decoration: none;
}

.OrderContent Button {
  width: 100%;
  padding: 0.95rem;
  font-weight: 700;
  color: var(--Verypaleblue);
  background-color: var(--Brightblue);
  border: none;
  border-radius: 5px;
  margin-block-start: 1.5rem;
  margin-block-end: 1.8rem;
  box-shadow: 0 5px 16px hsla(245, 72%, 59%, 0.61);
}

.OrderContent Button:hover {
  background-color: #766cf1;
  transition: background-color 0.3s ease-in-out;
}

.OrderContent p {
  color: var(--Desaturatedblue);
  font-weight: 900;
  font-size: 0.8rem;
  transition: color 0.3s ease-in-out;
}

.OrderContent p:hover {
  color: var(--Darkblue);
}

@media screen and (max-width: 425px) {
  .wrapper{
    max-width: 320px;
  }

  .wrapper .OrderContent{
    padding-inline: 0.75rem;
  }

  .OrderContent Button{
    width: 90%;
  }

  .OrderContent .OrderDesc{
    padding-inline: 1.5rem;
  }

}

@media screen and (max-width: 375px) {
    body {
        background-image: url(/Images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
      }
}